<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @customer.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= mail_to @customer.email , @customer.email %></dd>
  <dt><strong>Started at:</strong></dt>
  <dd><%= @customer.date_became_customer %></dd>
</dl>



<dl class="dl-horizontal">
   <legend>Addresses</legend>
   
   
   
   <table id="addresses-table" class="table table-hover table-striped">

     <thead>
    
       <th>#</th>
       <th>Address Line 1</th>
       <th>Address Line 2</th>
       <th>City</th>
       <th>Country</th>
    
     </thead>
  
     <tbody>
    
       <%@customer.addresses.each do |addresse| %>
    
       <tr class="fields">
    
         <td><%= addresse.id  %></td>
         <td><%= addresse.line_1%></td>
          <td><%= addresse.line_2%></td>
          <td><%= addresse.city%></td>
          <td><%= addresse.country%></td>
          
       </tr>
    
       <% end %>
    
     </tbody>
   </table>
   
     
</dl>
 

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              customers_path, :class => 'btn' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_customer_path(@customer), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              customer_path(@customer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

